body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin: 8px;
    height: 25px;
    width: 200px;
}

.square-div-section {
    display: flex;
    justify-content: center;
}

.square-div-row {
    display: flex;
    flex-direction: column;
}

.square-div {

    height: 32px;
    width: 32px;
    outline: 2px solid black;

    
}